.intro {
  margin-bottom: 85px;
}
.intro .intro-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgb(13 16 37/6%);
}
.intro .intro-container .intro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 36.5px;
}
.intro .intro-container .intro-item:nth-child(2) {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

.intro .intro-container .intro-item .intro-info .intro-title {
  color: #0b132a;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
}
.intro .intro-container .intro-item .intro-info .intro-name {
  font-size: 20px;
  color: #4f5665;
}

@media screen and (max-width: 767.98px) {
  .intro .intro-container .intro-item:nth-child(2) {
    border-left: 0;
    border-right: 0;
  }

  .intro .intro-container {
    grid-template-columns: 100%;
    gap: 40px 0;
  }
  .intro .intro-container .intro-item {
    flex-direction: column;
    gap: 20px 0;
    text-align: center;
  }
}
